<%
  title ||= nil
  subsections ||= []
%>
<section class="app-c-actions-group">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l"><%= title %></h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <% subsections.each do |subsection| %>
        <div data-ec-list-subsection="<%= subsection[:title] %>">
          <h3 class="govuk-heading-m"><%= subsection[:title] %></h3>
          <% %i[items support_and_advice_items].each do |item_type| %>
            <% if subsection[item_type]&.any? %>
              <% if item_type == :support_and_advice_items %>
                <h3 class="govuk-heading-s"><%= t("coronavirus_form.results.support_and_advice_text") %></h3>
              <% end %>
              <ul class="govuk-list">
              <% subsection[item_type].each do |item| %>
                <li>
                  <% if item[:href] %>
                    <%= link_to item[:text], item[:href], class: "govuk-link" %>
                  <% else %>
                    <%= sanitize(item[:text]) %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
