<%
  title ||= nil
  subsections ||= []
%>
<section class="app-c-actions-group">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m"><%= title %></h2>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <% subsections.each do |subsection| %>
        <div data-ec-list-subsection="<%= subsection[:title] %>">
          <h3 class="govuk-heading-s"><%= subsection[:title] %></h3>
          <% if subsection[:items].any? %>
            <ul class="govuk-list">
              <% subsection[:items].each do |item| %>
                <li>
                  <% if item[:href] %>
                    <%= link_to item[:text], item[:href], class: "govuk-link" %>
                  <% else %>
                    <%= sanitize(item[:text]) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
