<% content_for :title do %><%= t('coronavirus_form.results.header.title') %><% end %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= t('coronavirus_form.results.header.title') %>" />
<% end %>

<% content_for :page_header do %>
  <%= render "govuk_publishing_components/components/title", {
    context: t("coronavirus_form.results.header.context"),
    title: t("coronavirus_form.results.header.title"),
    inverse: true,
    margin_top: 0,
    margin_bottom: 6,
  } %>
  <%= link_to t("coronavirus_form.results.header.start_again_text"), clear_session_path, class: "govuk-link" %>
<% end %>

<% if no_results?(@form_responses) %>
  <%= render partial: "no_results"  %>
<% else %>
  <% result_groups(@form_responses).each do |group| %>
    <%= render partial: "result_group", locals: { group: group }  %>
  <% end %>
<% end %>

<div>
  <%= t("coronavirus_form.results.feedback.text") %>
  <a href="/feedback">
    <%= t("coronavirus_form.results.feedback.link_text") %>
  </a>
</div>
