<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    text: t("govwales_breadcrumbs.start_again_text"),
    href: t("govwales_breadcrumbs.start_again_url"),
    start: true,
  } %>
<% end %>

<div class="container">
  <% content_for :title do %><%= t('session_expired.title') %><% end %>
  <% content_for :meta_tags do %>
    <meta name="description" content="<%= t('session_expired.title') %>" />
  <% end %>

  <%= render "govuk_publishing_components/components/title", {
    title:t("session_expired.title"),
    margin_top: 0
  } %>

  <div class="app-c-actions-no-results">
    <%= sanitize(t('session_expired.body_text')) %>
  </div>

  <div class="app-c-actions-start-again">
    <%= render "govuk_publishing_components/components/button", {
      text: t("govwales_buttons.start_again_text"),
      href: t("govwales_buttons.start_again_url"),
      start: true
    } %>
  </div>
</div>
