<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= t('coronavirus_form.errors.page_title_prefix') if flash[:validation]&.any? %><%= yield :title %> | <%= t('govwales_meta.title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="robots" content="noindex nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= yield :meta_tags %>
  </head>
  <body class="govuk-template__body">
    <%= render "/govwales/layout_header" %>
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= render "govuk_publishing_components/components/skip_link" %>
    <% if yield(:page_header).present? %>
      <%= render "components/page-header" do %>
        <%= yield(:page_header) %>
      <% end %>
    <% end %>
    <div class="govuk-width-container container">
      <% if yield(:back_link).present? %>
        <%= yield(:back_link) %>
      <% end %>
      <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="<%= current_page?(results_path) ? "govuk-grid-column-full" : "govuk-grid-column-two-thirds-from-desktop" %>">
            <%= render "error_summary" %>
            <%= yield %>
          </div>
        </div>
      </main>
      <% if yield(:escape_link).present? %>
        <%= yield(:escape_link) %>
      <% end %>
    </div>
    <%= render "/govwales/layout_footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
