<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8" />
    <%# GOVWALES: title adjustment. Line 6 %>
    <title><%= t('coronavirus_form.errors.page_title_prefix') if flash[:validation]&.any? %><%= yield :title %> <%= t('layout_head.meta_title', default: "- GOV.WALES") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# GOVWALES: meta additions. Lines 7-22 %>
    <link rel="icon" type="image/ico" href="/favicon.ico" >
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/govwales/apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/govwales/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/govwales/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/govwales/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/govwales/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/govwales/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/govwales/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/govwales/apple-touch-icon-precomposed.png">
    <link rel="icon" sizes="192x192" href="/assets/govwales/touch-icon-192.png">
    <link rel="icon" sizes="32x32" href="/assets/govwales/favicon-32.png">
    <link rel="icon" sizes="48x48" href="/assets/govwales/favicon-48.png">
    <meta name="msapplication-TileColor" content="#b60404">
    <meta name="msapplication-TileImage" content="/themes/custom/govwales/favicon/ms-icon-144x144.png">
    <meta name="robots" content="noindex nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= yield :meta_tags %>
  </head>
  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= render "govuk_publishing_components/components/skip_link" %>
    <%= render "govuk_publishing_components/components/cookie_banner", {
      title: "Can we store analytics cookies on your device?",
      text: "Analytics cookies help us understand how our website is being used.",
      confirmation_message: sanitize("You’ve accepted all cookies. You can <a class='govuk-link' href='#{cookies_path}'>change your cookie settings</a> at any time."),
      cookie_preferences_href: cookies_path,
      services_cookies: {
        yes: {
          text: "Yes",
          data_attributes: {
            "track-category": "cookieBanner",
          },
        },
        no: {
          text: "No",
          data_attributes: {
            "track-category": "cookieBanner",
          },
        },
        cookie_preferences: {
          text: "How we use cookies",
          href: cookies_path,
        },
      },
    } %>
    <%= render "govuk_publishing_components/components/layout_header", { environment: "public" } %>
    <%# GOVWALES: Service BETA status addition. Line 62 %>
    <%= render "govuk_publishing_components/components/beta_status", {} %>
    <%# GOVWALES: Container 'govuk-width-container' reposition and additional class, yield:(:back_link) reposition. Lines 64-73 %>
    <div class="govuk-width-container govwales-width-container">
      <% if yield(:back_link).present? %>
        <%= yield(:back_link) %>
      <% end %>
      <% if yield(:page_header).present? %>
        <%= render "components/page-header" do %>
          <%= yield(:page_header) %>
        <% end %>
      <% end %>
    </div>
    <%# GOVWALES: Container 'govwales-container' added. Lines 75 & 87 %>
    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank?%>" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="<%= current_page?(results_path) ? "govuk-grid-column-full" : "govuk-grid-column-two-thirds-from-desktop" %>">
          <%= render "error_summary" %>
          <%= yield %>
        </div>
      </div>
    </main>
    <% if yield(:escape_link).present? %>
      <%= yield(:escape_link) %>
    <% end %>
    <%= render "govuk_publishing_components/components/layout_footer", {
      meta: {
        items: [
          {
            href: "/privacy",
            text: t("privacy_page.title")
          },
          {
            href: "/cookies",
            text: t("cookies.title")
          },
          {
            href: "/accessibility-statement",
            text: t("accessibility_statement.title")
          },
        ]
      }
    } %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
